@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

@layer base {
    html {
      font-family: Work Sans, system-ui, sans-serif;
    }
    body {
        background: #FAF0F3;
        color: #152C52;
    }
}

@layer components {
    .btn {
        @apply py-2 px-4 bg-blue text-center text-white rounded transition-all duration-300 cursor-pointer
    }
    .btn:hover {
        @apply bg-blue-600
    }
    .quotes-table {
        @apply border border-pink-100 bg-white p-6 mb-6 rounded shadow-lg
    }
    .quotes-table th {
        @apply py-4 px-3 bg-white text-green text-center font-normal border-b border-dashed border-b-pink-200
    }
    .quotes-table td {
        @apply py-4 px-3 bg-white text-center text-sm border-b border-dashed border-b-pink-200
    }
    .area-items-table {
        @apply w-full border border-gray-200
    }
    .area-items-table th {
        @apply py-4 px-3 bg-white text-green text-center font-normal border-b border-dashed border-gray-200
    }
    .area-items-table td {
        @apply py-4 px-3 bg-white text-center border-b border-dashed border-gray-200
    }
}

@layer utilities {
    .btn-add {
        @apply bg-green
    }
    .btn-quanity {
        @apply bg-gray-200 text-gray-500
    }
    .btn-delete {
        @apply bg-red-400
    }
}